*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
header{
    margin: 50px 50px;
    line-height: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 10px;
}
.content{
    height: 75vh;
    width: 100%;
    background-image: url(img/bgimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}
form{
    position: absolute;
    top: -50%;
    width: 100%;
    padding: 5px 50px;
    box-shadow: 0 0 3px gray;
}

@media screen and (max-width:600px){
    form{
        position: relative;
        top: 2%;
    }
    .content{
        height: 100%;
     }
}
@media screen and (max-width:480px){
    form{
        position: relative;
        top: 2%;
    }
    .content{
        height: 100%;
     }
}